<html>

<body>
    {{#$header}}
        default header
    {{/$header}}
    
    {{#$body}}
        default body
    {{/$body}}
    
    {{#$footer}}
    default footer, using {{local key}}
{{/$footer}}
</body>

</html>